a[target="_blank"][href$="ir/"]{
    color: orange;
}

a[href*="google"]{
    font-style: italic;
}

a[href^="https"]{
    font-size: large;
}

a[href*=".com"]{
    color: red;
}

section.sub-article2 p{
    color: palevioletred;
}

section.sub-article2 ~ p{
    color: olive;
}

section.sub-article2 + p{
    color: blueviolet;
}

#fakeId > p{
    color: goldenrod;
}